.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .procesarcompra {
    color: aqua;
  }

  #carrito {
    font-size: 25px;
    color: orange;
  }

  
  #carrito:hover {
    font-size: 25px;
    color: rgb(255, 255, 255);
  }