@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  color: black !important;
}
.navbar-brand{
  color: black !important;

}
h1{
  font-size: 20px !important;
}
h2{
  font-size: 19px !important;
}

.flex-container{
  display: flex !important;
  align-items: center;
}
.btn{
  background-color: #fb8c00  !important;
  border: 1px solid #f57c00  !important;
  color: white !important;
}

select{
  box-shadow: none !important;
  border-color: black !important;
  
}
.fa-plus{
  color: green;
  margin: 5px;
}
.fa-minus{
  color: red;
  margin: 5px;
}
.fa-trash{
  color: red;
}
input{
  margin-top: 10px !important;
  box-shadow: none !important ;

}